@charset "UTF-8";
@import "variables";

@include mq($md) {
  // main,sidber縦並び
  .main-container {
    flex-direction: column;
    padding-top: 0;
  }
  // 幅100%
  .main-wrapper {
    width: 100%;
  }
  .side-wrapper {
    width: 100%;
    margin-bottom: 0;
  }
  // ナビバー消す＆ハンバーガーメニュー表示
  .header .header-nav {
    display: none;
  }
  .header .humberger {
    display: block;
  }
  // 下の余白調節
  .mb-sp {
    margin-bottom: 30px;
  }
  // company
  // 会社概要上の余白調節
  .m-t {
    padding-top: 3%;
  }
  // 表の幅調節
  .table th {
    width: 24%;
  }
  .table td {
    width: 76%;
  }
  //margin-bottom0にする
  .mb-0 {
    margin-bottom: 0;
  }
  // ボタンの余白
  .btn {
    margin-bottom: 20px;
  }
}

@include mq($xs) {
  h2,
  h3 {
    @include font-data-w(1.4rem, 2.1rem, 400);
  }
  h4,
  p,
  a,
  th,
  td,
  ,
  .inform-list .inform-item .date,
  .section-company p .sidber-company-title {
    @include font-data(1.2rem, 1.8rem);
  }
  .side-title {
    @include font-data-w(1.2rem, 1.8rem, 700);
  }
  .footer .footer-inner .footer-large,
  .footer .footer-inner .footer-min {
    @include font-data(1rem, 1.5rem);
  }
  .service-title {
    @include font-data-w(1.4rem, 2.1rem, 400);
  }
  .section-inner {
  }
  .header .header-logo {
    max-width: 205px;
    margin: 40px 5%;
  }
  .section-title {
    padding: 5px 10px;
    &::before {
      padding: 0 4px;
    }
  }
  .section-sub-title {
    padding: 5px 10px;
  }

  .section-inner {
    padding: 0 2.5% 15px;
  }
  .inform-list .inform-item .date {
    margin-right: 20px;
  }
  .mb-sp {
    margin-bottom: 10px;
  }
  // 表の幅調節
  .table th {
    width: 28%;
    vertical-align: middle;
    padding: 5px 8px;
  }
  .table td {
    width: 72%;
    padding: 5px;
  }
  .service-list .service-a .arrow {
    padding: 1px 9px;
  }
  .recrit-table .table-title {
    padding: 5px;
  }
  .form-table input {
    width: 97%;
  }
} ;
